.app-weather-cart {
  display: flex;
  row-gap: 10px;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 200px;
  background-color: #fff;
}
.app-weather-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #575555;
}
.app-weather-error {
  color: #ff5100;
}
.app-weather-info {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  color: #000;
}
